.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 4rem;

  @media only screen and (max-width: 1024px) {
    padding: 0 5rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 2rem 2rem 0;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  &__copyright {
    font-size: 1.8rem;
    color: var(--c-text-gray);
    @media only screen and (max-width: 600px) {
      padding-top: 2rem;
    }
  }

  &__socialLinks {
    display: flex;
    gap: 2rem;
  }

  &__socialLink {
    display: inline-block;
    background-color: var(--c-gray-light);
    color: var(--c-text-gray);
    line-height: 0;
    padding: 1.1rem;
    border-radius: 50%;

    svg {
      height: 2rem;
      width: 2rem;
    }

    &:hover svg {
      fill: var(--c-primary);
    }
  }
}
