.intro {
  &__wrapper {
    background: linear-gradient(
      to right bottom,
      var(--c-primary-light),
      var(--c-primary-dark)
    );
    height: 100vh;
    max-height: 800px;
    position: relative;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__hello {
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--c-off-white);
    text-align: center;

    @media only screen and (max-width: 800px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 2.4rem;
    }
  }

  &__info {
    color: var(--c-off-white);
    font-size: 6.4rem;
    font-family: "PlayFair Display", serif;
    text-align: center;
    @media only screen and (max-width: 800px) {
      font-size: 5rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 4rem;
    }
  }

  &__cta {
    display: inline-block;
    background-color: var(--c-off-white);
    font-size: 2.4rem;
    color: var(--c-text-black);
    padding: 1rem 3rem;
    margin-top: 3rem;
    border-radius: 5px;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 8px transparent;

    @media only screen and (max-width: 800px) {
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }

    @media only screen and (max-width: 600px) {
      font-size: 1.4rem;
      padding: 0.8rem 1.6rem;
    }

    &:hover,
    &:active {
      transform: translateY(-3px);
      box-shadow: 0 8px 8px rgba(117, 114, 114, 0.5);
    }
  }
}
