.intro {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  &__wrapper {
    background: linear-gradient(
      to right bottom,
      var(--c-bg-light),
      var(--c-bg-dark)
    );
    height: 100vh;
    max-height: 800px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  // delete this
  &__content {
    position: relative;
  }

  &__sun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: 600px) {
      width: 15rem;
    }
  }

  &__hello {
    font-size: 3rem;
    font-weight: bold;
    color: var(--c-off-white);

    @media only screen and (max-width: 800px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 2.4rem;
    }
  }

  &__info {
    color: var(--c-off-white);
    font-size: 6rem;
    font-family: "PlayFair Display", serif;
    line-height: 1.2;

    position: relative;

    @media only screen and (max-width: 800px) {
      font-size: 5rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 3rem;
    }
  }
  &__subinfo {
    font-size: 3rem;
    font-weight: bold;
    color: var(--c-off-white);
    opacity: 0.8;

    @media only screen and (max-width: 800px) {
      font-size: 2.4rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 2.4rem;
    }
  }

  &__ctaHolder {
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(200%);

    @media only screen and (max-width: 600px) {
      transform: translateY(150%);
    }
  }

  &__cta {
    display: inline-block;
    background-color: transparent;
    font-size: 2rem;
    border: 2px solid var(--c-off-white);
    color: var(--c-off-white);
    padding: 1rem 3rem;
    transition: transform 0.3s ease;
    box-shadow: 0 8px 8px transparent;

    // margin-top: 15rem;

    @media (prefers-reduced-motion: no-preference) {
      animation: moveUp 0.8s;
    }

    @media only screen and (max-width: 800px) {
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }

    @media only screen and (max-width: 600px) {
      font-size: 1.6rem;
      padding: 0.8rem 1.8rem;
    }

    &:hover,
    &:active {
      transform: translateY(-3px);
      box-shadow: 0 8px 8px rgba(117, 114, 114, 0.5);
    }
  }
}
