.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem 0;

  @media only screen and (max-width: 1024px) {
    padding: 0.9rem 4rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 0.9rem 2rem;
  }

  &__hiddenNav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: var(--c-primary);
    width: 100%;
    height: 100vh;
    opacity: 0;
    display: none;
    transition: all 1s;

    &__navlinks {
      list-style: none;
      padding: 5rem 1rem 0 5rem;
    }

    &__navlink {
      color: white;
      font-size: 3rem;
      font-weight: bolder;
      padding: 1rem 0;
      transition: color 0.3s;
    }
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.3s;

    &-active {
      backdrop-filter: blur(5px);
      background-color: hsla(0, 0%, 100%, 0.4);
    }
  }

  &__wrapper-active &__navlink,
  &__wrapper-active &__logo {
    color: var(--c-text-black);
    &:hover,
    &-active {
      border-bottom: 3px solid var(--c-text-black);
    }
  }

  &__wrapper-active #burger > span {
    background-color: var(--c-text-black);
  }

  &__logo {
    color: var(--c-off-white);
    font-family: "Playfair Display", sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    transition: color 0.3s;
  }

  &__navlinks {
    display: flex;
    list-style: none;
    gap: 4rem;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__navlink {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    transition: color 0.3s;

    &:hover,
    &-active {
      border-bottom: 3px solid white;
    }
  }
}

.navigation__hiddenNav.shown {
  display: block;
  opacity: 1;
}
