.blog {
  @media only screen and (max-width: 1024px) {
    padding: 0 4rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 0 2rem;
  }
  // &__wrapper {
  //   @media only screen and (max-width: 600px) {
  //     padding: 0 2rem;
  //   }
  // }
  &__heading {
    font-size: 4.8rem;
    font-family: "PlayFair Display";
    color: var(--c-text-black);
    margin-bottom: 1.2rem;
    text-align: center;
  }
  &__intro {
    font-size: 1.8rem;
    color: var(--c-text-black);
  }

  &__blogs {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 6rem 0;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      padding: 4rem 0;
    }

    a {
      display: block;
      width: 48%;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &__blog {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 2rem;
    margin-bottom: 4rem;
    // background-color: white;
    // border: 1px solid #e5e7eb;

    border-radius: 1rem;
  }

  &__details {
    &-title {
      font-size: 2rem;
      color: var(--c-text-black);
      transition: color 0.3s;
      line-height: 1.4;
      word-wrap: break-word;
    }
    &-date {
      font-size: 1.4rem;
      color: var(--c-text-gray);
      margin-top: 1rem;
    }
  }

  &__cover {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.8rem;
  }
}
