@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");
:root {
  --c-primary: #ff3903;
  --c-primary-light: #fb923c;
  --c-primary-dark: #ff3903;
  // --c-primary: #0ea5e9;
  // --c-primary-light: #22d3ee;
  // --c-primary-dark: #0ea5e9;

  --c-text-black: #1e1e1e;
  --c-text-gray: #5a5a5a;
  --c-gray-light: #dcdcdc;
  --c-off-white: #fdfcfc;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--c-primary);

  // background-image: -webkit-gradient(
  //   linear,
  //   0 0,
  //   0 100%,
  //   color-stop(0.5, rgba(255, 255, 255, 0.2)),
  //   color-stop(0.5, transparent),
  //   to(transparent)
  // );
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; // 1rem = 10px;
}

body {
  box-sizing: border-box;
  background-color: var(--c-off-white);
}

::selection {
  background-color: var(--c-primary);
  color: #ffffff;
}

a,
a:active,
a:hover {
  text-decoration: none;
}
